<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student signup</title>
   
</head>
<style>
    .emplog{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        }
    .emplog img{
        float: left;
    }
    .container{
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        left: 5px;
    }
   

</style>
<body>
    <center>
    <h1>StudentLogin</h1>
    </center>
<div class=emplog>
<img src="https://rurutek.com/jio/assets/img/login-animate.gif" height="650px";width="950px" alt="">

   <center> <div class="container">
        <div class="drop">
            <div class="content">
                <h3>Sign-In</h3>
                <form method="POST">
<div class="inputBox">
    <input type="number" placeholder="studid" name="studid">
</div>
<br>
    
<div class="inputBox">
    <input type="text" placeholder="Firstname" name="firstname">
</div>
<br>
<div class="inputBox">
    <input type="text" placeholder="Lastname" name="lastname">
</div>
<br>
<div class="inputBox">
    <input type="text" placeholder="Email" name="email">
</div>
<br>
<div class="inputBox">
    <input type="password" placeholder="password" name="password">
</div>
<br>
<div class="inputBox">
    <input type="number" placeholder="+9999999999" name="phonenumber">
</div>
<br>

<div class="inputBox">
    <input type="text" placeholder="section" name="section">
    
</div>
<br>
<div class="inputBox">
    <input type="submit"value="Sign-In">
</div>
<br>
<br></center>
                </form>
            </div>
        </div>
    </div>
</div>    
</body>
</html>

